#cats {
    font-size: 30px;
    position: absolute;
    top: 42.5%;
    left: 70%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #dogs {
    font-size: 30px;
    position: absolute;
    top: 42.5%;
    left: 30%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #golden {
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #french-bulldog {
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #german {
    font-size: 15px;
    position: absolute;
    top: 30.5%;
    left: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #poodle {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #rotwiler {
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #york {
    font-size: 14px;
    position: absolute;
    top: 50.5%;
    left: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #main-coon {
    font-size: 14px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #saimese {
    font-size: 14px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #persian {
    font-size: 14px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #bengal {
    font-size: 14px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 20%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #ragdoll {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  
  #shorthair {
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 80%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
